.product {
  overflow: hidden;
  border-radius: 4px;
  &__image {
    position: relative;
    max-height: 293px;
    width: 100%;
    margin-bottom: var(--small-offset);
    img {
      background-color: var(--color-bombay);
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__buttons {
    position: absolute;
    left: 0;
    top: 0;
    @include flex-all-center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  &__look {
    background-image: url("../img/eye.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: var(--main-offset);
  }
  &__button {
    @include flex-all-center;
    width: 80px;
    height: 80px;
    background-color: var(--color-main);
    border-radius: 100%;
    transition: background-color 0.3s ease-in-out;
    svg {
      width: 30px;
      height: 30px;
      object-fit: cover;
      fill: var(--color-light);
    }
    &:hover {
      background-color: var(--color-main-hover);
    }
  }
  &__title {
    font: var(--middle-font);
    font-family: "introBook", sans-serif;
    color: var(--color-main);
    margin-bottom: var(--small-offset);
  }
  &__price {
    font: var(--middle-regular);
    color: var(--color-main);
  }
  &:hover {
    .product__buttons {
      opacity: 1;
      visibility: visible;
    }
  }
}
