<section class="faq">
  <div class="container faq__container">
    <h2 class="title faq__title">Часто задаваемые вопросы</h2>
    <ul class="list-reset faq__list">
      <li class="faq-accordion">
        <button class="btn-reset faq-accordion__control" aria-expanded="false">
          <span class="faq-accordion__title">Вопрос 1</span>
          <span class="faq-accordion__icon"></span>
        </button>
        <div class="faq-accordion__content" aria-hidden="true">
          <p>
            Далеко-далеко за словесными горами в стране, гласных и согласных
            живут рыбные тексты. Парадигматическая свое меня злых. Взобравшись
            все скатился вопроса диких моей!
          </p>
        </div>
      </li>
      <li class="faq-accordion">
        <button class="btn-reset faq-accordion__control" aria-expanded="false">
          <span class="faq-accordion__title">Вопрос 2</span>
          <span class="faq-accordion__icon"></span>
        </button>
        <div class="faq-accordion__content" aria-hidden="true">
          Далеко-далеко за словесными горами в стране гласных, и согласных живут
          рыбные тексты. Своих дороге взгляд города взобравшись?
        </div>
      </li>
    </ul>
  </div>
</section>
