<section class="instagram">
  <h2 class="visually-hidden">Форма и инстаграм лента</h2>
  <div class="container instagram__container">
    <div class="instagram__left">
      <form class="callback-form" action="#">
        <h3 class="title instagram__title">Есть вопросы?</h3>
        <p class="instagram__descr">
          Заполните форму и наш менеджер свяжется с вами
        </p>
        <input
          class="input instagram__input"
          type="text"
          placeholder="Ваше имя"
          required
        />
        <input
          class="input instagram__input"
          type="tel"
          placeholder="Номер телефона"
          required
        />
        <button
          class="btn-reset btn btn--primary instagram__btn instagram__input"
        >
          Отправить
        </button>
      </form>
    </div>
    <div class="instagram__right">
      <a href="#" class="instagram__logo">
        <img
          class="instagram__img"
          src="img/instagram-logo.png"
          alt="Лого инстаграма"
        />
      </a>
      <div class="instagram__content">
        <article class="instagram__item">
          <a class="instagram__link" href="#">
            <img src="img/instagram-1.jpg" alt="Instagram Image" />
          </a>
        </article>
        <article class="instagram__item instagram__item--big">
          <a class="instagram__link" href="#">
            <img src="img/instagram-2.jpg" alt="Instagram Image" />
          </a>
        </article>
        <article class="instagram__item">
          <a class="instagram__link" href="#">
            <img src="img/instagram-3.jpg" alt="Instagram Image" />
          </a>
        </article>
        <article class="instagram__item">
          <a class="instagram__link" href="#">
            <img src="img/instagram-4.jpg" alt="Instagram Image" />
          </a>
        </article>
        <article class="instagram__item">
          <a class="instagram__link" href="#">
            <img src="img/instagram-5.jpg" alt="Instagram Image" />
          </a>
        </article>
      </div>
    </div>
  </div>
</section>
