<section class="team">
  <img class="team__figure" src="img/team-figure.svg" alt="" />
  <div class="container">
    <h2 class="title team__title">Наша команда</h2>
    <ul class="list-reset team__list grid">
      <li class="team__item">
        <img class="team__image" src="img/team-1.jpg" alt="Максим Золотарев" />
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team-2.jpg" alt="Латышева Татьяна" />
        <strong class="team__subtitle">Латышева Татьяна</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team-3.jpg" alt="Устинова Алиса" />
        <strong class="team__subtitle">Устинова Алиса</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team-4.jpg" alt="Поздняков Дмитрий" />
        <strong class="team__subtitle">Поздняков Дмитрий</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team-5.jpg" alt="Волков Илья" />
        <strong class="team__subtitle">Волков Илья</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img class="team__image" src="img/team-6.jpg" alt="Королева Алиса" />
        <strong class="team__subtitle">Королева Алиса</strong>
        <span class="team__post">Администратор</span>
      </li>
    </ul>
  </div>
</section>
