// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Intro", sans-serif;
  --content-width: 1180px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --grid-gap: 20px;
  --big-offset: 60px;
  --main-offset: 40px;
  --second-offset: 20px;
  --small-offset: 10px;

  // colors
  --color-light: #fff;
  --color-eastbay: #484283;
  --color-accent: #f14f4f;
  --color-accent-hover: #cc4949;
  --color-accent-active: #8c2828;
  --color-border: rgba(255, 255, 255, 0.5);
  --color-bombay: #b2b5bb;
  --color-main: #444b58;
  --color-main-hover: #31343c;
  --color-black: #000000;
  --color-bg: #fff4ee;
  --color-cameo: #dbbba9;

  // fonts
  --middle-high-bold: 700 30px / 140% var(--font-family);
  --middle-avarage-font: 400 24px / 100% var(--font-family);
  --middle-regular: 400 20px / 100% var(--font-family);
  --middle-font: 400 16px / 140% var(--font-family);
  --small-high-font: 400 14px / 140% var(--font-family);
}
