// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/nav";
@import "./components/cart";
@import "./components/sizes";
@import "./components/product";
@import "./components/social";
@import "./components/tooltip";
// подключения секций страницы
@import "./components/header";
@import "./components/hero";
@import "./components/catalog";
@import "./components/about";
@import "./components/quiz";
@import "./components/team";
@import "./components/faq";
@import "./components/contacts";
@import "./components/insta";
@import "./components/footer";
@import "./components/prod-modal";
@import "./components/cart-modal";
