// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/nav";
@import "./components/sizes";
@import "./components/product";
// подключения секций страницы
@import "./components/header";
@import "./components/hero";
@import "./components/catalog";
@import "./components/about";
